{
        "semi": false,
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 8,
        "useTabs": false,
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "endOfLine": "lf",
        "quoteProps": "as-needed",
        "jsxSingleQuote": true,
        "bracketSameLine": false,
        "proseWrap": "preserve",
        "htmlWhitespaceSensitivity": "strict",
        "embeddedLanguageFormatting": "auto",
        "plugins": ["prettier-plugin-tailwindcss"],
        "tailwindFunctions": ["clsx", "cn", "cva", "tw"]
}
